<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Open Graph-->
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Varad Bhogayata | Software Developer" />
    <meta property="og:description" content="Software Developer" />
    <meta property="og:url" content="https://varadbhogayata.github.io/" />
    <meta
      property="og:site_name"
      content="Varad Bhogayata | Software Developer"
    />
    <meta
      property="article:publisher"
      content="https://varadbhogayata.github.io/"
    />
    <meta
      property="og:image"
      content="https://varadbhogayata.github.io/examples/preview.JPG"
    />
    <!-- Google Site Verification for indexing -->
    <meta
      name="google-site-verification"
      content="_qxK8tePiU2fhnwlwnJ7pkDFnj1k2EiKq_cYGy1Cb84"
    />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Portfolio</title>
    <!-- Materialize - Compiled and minified CSS-->
    <link
      rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/css/materialize.min.css"
    />
    <!-- Font Awesome Icon - CSS-->
    <link
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link
      rel="stylesheet"
      href="~/final.styles.css"
      asp-append-version="true"
    />
  </head>
  <body>
    <div class="main_container">@RenderBody()</div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
  </body>
</html>


