@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">

  <!-- Navigation Menu-->
  <!-- Nav class 1 -->
  <nav class="hide-on-small-only">
    <ul class="side-nav fixed section table-of-contents">

      <li class="logo">
        <a id="logo-container" aria-label="Navigate to the beginning of the page" href="#intro"
          class="brand-logo grey-blue-text">
          <img src="~/img/profile_pic.jpg" class="circle img-responsive profile-pic" alt="avatar">
        </a>
      </li>

      <li class="bold">
        <a aria-label="Navigate to the About section" href="#about" class="waves-effect waves-dark teal-text"><i
            class="mdi-social-person small"></i><span>About</span></a>
      </li>
      <li class="bold">
        <a aria-label="Navigate to the Experience section" href="#experience"
          class="waves-effect waves-dark teal-text"><i
            class="mdi-action-trending-up small"></i><span>Experience</span></a>
      </li>

      <li class="bold">
        <!-- mdi-av-web small
             mdi-av-my-library-books small-->
        <a aria-label="Navigate to the Projects section" href="#projects" class="waves-effect waves-dark teal-text"><i
            class="mdi-av-my-library-books small"></i><span>Projects</span></a>
      </li>

      <li class="bold">
        <!--
        ICONS:
        mdi-action-assessment
        mdi-social-poll
        mdi-av-equalizer
        -->
        <a aria-label="Navigate to the Skills section" href="#skills" class="waves-effect waves-dark teal-text"><i
            class="mdi-action-assessment small"></i><span>Skills</span></a>
      </li>

      <li class="bold">
        <!--
        ICONS:
        -->
        <a aria-label="Navigate to the Education section" href="#education" class="waves-effect waves-dark teal-text"><i
            class="mdi-social-school small"></i><span>Education</span></a>
      </li>

      <li class="bold">
        <!-- 
        1. mdi-communication-contacts
        2. mdi-content-mail
        3. mdi-communication-email
        -->
        <a aria-label="Navigate to the Contact section" href="#contact" class="waves-effect waves-dark teal-text"><i
            class="mdi-content-mail small"></i><span>Contact</span></a>
      </li>

      <li class="bold">
        <!--
        ICONS:
        1. mdi-action-description
        2. mdi-file-folder
        3. mdi-file-folder-open
        4. mdi-file-attachment
        5. mdi-file-folder-shared
        -->
        <!-- <a aria-label="Open Varad's resume in a new tab" href="#resume" target="_blank"
          onclick="window.open('https://drive.google.com/file/d/1vYi-bMyIsZPve0x_clxY8xsDtiHiOMd3/view?usp=sharing')"
          class="waves-effect waves-dark teal-text"><i class="mdi-file-folder-open small"></i><span>Resume</span></a> -->
        <a aria-label="Open Varad's resume in a new tab" href="https://varadbhogayata.github.io/assets/resume/Varad_Bhogayata_Resume.pdf" target="_blank"
        class="waves-effect waves-dark teal-text"><i class="mdi-file-folder-open small"></i><span>Resume</span></a>  
      </li>
    </ul>
  </nav>

  <!-- Nav class 2 -->
  <nav class="hide-on-large only trigger z-depth-1">
    <a aria-label="Toggle visibility of the mobile navbar" href="#" data-activates="slide-out"
      class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    <div class="name-title">
      <a id="name" aria-label="Navigate to the beginning of the page" href="#" class="teal-text">Varad
        Bhogayata</a><span class="black-text">Software Developer</span>
    </div>
  </nav>

  <!-- Nav class 3 -->
  <nav class="hide-on-large only">
    <ul id="slide-out" class="side-nav">
      <li class="bold">
        <a aria-label="Navigate to the About section" href="#about" class="waves-effect waves-dark teal-text"><i
            class="mdi-social-person small"></i><span>About</span></a>
      </li>
      <li class="bold">
        <a aria-label="Navigate to the Experience section" href="#experience"
          class="waves-effect waves-dark teal-text"><i
            class="mdi-action-trending-up small"></i><span>Experience</span></a>
      </li>
      <li class="bold">
        <a aria-label="Navigate to the Projects section" href="#projects" class="waves-effect waves-dark teal-text"><i
            class="mdi-av-my-library-books small"></i><span>Projects</span></a>
      </li>
      <li class="bold">
        <a aria-label="Navigate to the Skills section" href="#skills" class="waves-effect waves-dark teal-text"><i
            class="mdi-action-assessment small"></i><span>Skills</span></a>
      </li>

      <li class="bold">
        <a aria-label="Navigate to the Education section" href="#education" class="waves-effect waves-dark teal-text"><i
            class="mdi-social-school small"></i><span>Education</span></a>
      </li>
      <li class="bold">
        <a aria-label="Navigate to the Contact section" href="#contact" class="waves-effect waves-dark teal-text"><i
            class="mdi-content-mail small"></i><span>Contact</span></a>
      </li>
      <li class="bold">
        <a aria-label="Open Mithat's Resume in a new tab"
          href="https://drive.google.com/file/d/1wVTsnjaRti7Oe3n4NUCGprYbdPsrnmrn/view?usp=sharing" target="_blank"
          class="waves-effect waves-dark teal-text"><i class="mdi-file-folder-open small"></i><span>Resume</span></a>
      </li>
    </ul>
  </nav>
    <!-- Main Content-->
  <main>
    <!-- First Section: Heading lines and image -->
    <section id="intro" class="section scrollspy full-height">
      <div class="overlay"></div>
      <div class="container">
        <div class="col-md-9">
          <div class="content section-padding valign">
            <div class="caption" style="color:white;">
              <h1>Hi, I'm <span class="teal">Mithat Uçar.</span></h1>
            </div>
            <div class='buttons'>
              <a href="#about" class="readme">Read More</a>
              <a href="#contact" class="contactme">Contact Me</a>
            </div>
            <div class="social">
              <a href="https://www.linkedin.com/in/mithatuçar" target="_blank">
                <button class="icon-btn linkedin">
                  <i class="fa fa-linkedin"></i>
                </button>
              </a>
              <a href="https://github.com/ObjectOrientedMindset" target="_blank">
                <button class="icon-btn github">
                  <i class="fa fa-github"></i>
                </button>
              </a>
              <a href="https://www.frontendmentor.io/profile/ObjectOrientedMindset" target="_blank">
                <button class="icon-btn frontendmentor">
                  <img class="fa fa-frontendmentor" src="~/img/frontend-mentor-logo.png" 
                  style="width: 25.72px; height: 35px;"></i>
                </button>
              </a>
            </div>            
          </div>
        </div>
      </div>
    </section>

    <!-- Second Section: About -->
    <section id="about" class="section scrollspy">
      <h3 class="page-title white-text teal">About</h3>
      <div class="container flow-text">
        <!-- <blockquote>
          <h2>
            A Software Developer with a passion for Backend Development and Artificial Intelligence.

          </h2>
        </blockquote> -->        
        <p>
          I am a Computer Engineering Grad Student at Eskisehir Osmangazi University. I enjoy problem-solving and coding. Always strive to bring 100% to the work I do.

          I have worked on technologies like Python, C#, MySQL, PostgreSQL, HTML5, CSS, Swift, C/C++ during my bachelor's.

          I am passionate about developing complex applications that solve real-world problems impacting millions of users.
        </p>
        <p>
          <ul>
            <li><b>Languages:</b> C#, Python, Swift, JavaScript, C/C++, HTML/CSS, Bash, Assembly</li>
            <li><b>Databases:</b> MySQL, PostgreSQL, Access</li>
            <li><b>Libraries:</b> NumPy, pandas, OpenCV, SFML</li>
            <li><b>Frameworks:</b> React, Express.js Node.js, .NET, Asp.NET, SwiftUi, Unity</li>
            <li><b>Tools & Technologies:</b> Git, Premake, JIRA</li>
          </ul>

        </p>

        <!-- <p>

          Detail-oriented Software Developer with professional experience in Backend Development, Machine Learning, Computer Vision. I am adept in Python, Django, Flask, SQL, Machine Learning, Computer Vision.           
        </p> -->
        <p>
          Looking for an opportunity to work in a challenging position combining my skills in Software Engineering, which provides professional development, interesting experiences and personal growth.
        </p>
        <!-- <p>
          Another Paragraph
        </p>  -->
        <!-- <p>
        <strong>Current Focus</strong>:&nbsp;<a aria-label="Navigate to the Inclusive Design Patterns homepage"
          href="https://www.smashingmagazine.com/inclusive-design-patterns/">Accessibility</a>&nbsp;//&nbsp;<a
          aria-label="Navigate to the Full Stack React homepage"
          href="https://www.fullstackreact.com/">React</a>&nbsp;//&nbsp;<a
          aria-label='Navigate to the article "Scalable CSS"'
          href="https://mrmrs.github.io/writing/2016/03/24/scalable-css/">Design Systems</a>
        </p> -->
      </div>
    </section>


    <!-- Third Section: Experience -->
    <section id="experience" class="section scrollspy">
      <h3 class="page-title white-text teal">Experience</h3>
      <div class="container">

        <!-- Latest Experience -->
        <div class="card">
          <div class="card-content">
            <div class="row">
              <div class="col s12 m2">
                <a href="https://www.arniva.com.tr/" target="_blank"><img alt="Arniva logo"
                    src="~/img/arniva.jpeg" class="responsive-img center-block" /></a>
              </div>             
            </div>
            <div class="role brown-text text-darken-2">Software Engineer</div>
            <ul>
              <li>
                Developed a project management system for use of company’s development teams.
              </li>
              <li>
                Developed a REST API using Node.js and PostgreSQL.
              </li>
              <li>Server side, according to requests from the client, updates database.</li>
              <li>• Explored ways to visualize Bitbucket collaboration in a classroom setting.</li>
              <li>
                <b>Tools:</b> Node.js, nodemon, Git, PostgreSQL
              </li>
            </ul>
          </div>
          <div class="card-action">
            <span>2022</span>
          </div>
        </div>       
      </div>
    </section>

    <!-- Fourth Section: Projects -->
    <section id="projects" class="section scrollspy">
      <h3 class="page-title white-text teal">Projects</h3>
      <div class="container">
        <div class="row">

          <div class="col s12 m6 l4">
            <div class="card medium">
              <div class="card-image waves-effect waves-block waves-light" type="hidden">
                <img alt="music streaming app" src="~/img/project-music-player.png" style="height: 100%; width: 100%" class="activator" />
              </div>
              <div class="card-content">
                <span class="card-title activator teal-text hoverline">Meta Game Engine<i
                    class="mdi-navigation-more-vert right" onclick="flip_card('first','flip_first')"></i></span>
                <p>
                  A 2D game engine made with c++
                </p>
              </div>
              <div class="card-reveal first">
                <!-- TODO: change this -- only close button -->
                <!-- <span class="card-title brown-text">Accomplishments<i class="mdi-navigation-close right"></i></span> -->
                <span class="card-title grey-text"><small>Accomplishments</small><i
                    class="mdi-navigation-close right first" onclick="flip_card('first','close_first')"></i></span>
                <ul> 
                  <li><b>Tools:</b> C++, SFML, Premake, ImGui, spdlog, openGL</li>
                  <li>Developed a 2D game engine from scratch.</li>
                  <li>The meta engine creates a dynamic library and Sandbox creates an executable as a result of the build</li>
                  <li>The developer using the Sandbox creates a game using the Meta API and the app’s GUI</li>


                </ul>
                <div class="card-action">
                  <a aria-label="Visit " href="https://galvanic-music.herokuapp.com/" target="_blank" data-position="top"
                    data-tooltip="View Online"
                    class="btn-floating btn-large waves-effect waves-light blue-grey tooltipped"><i
                      class="fa fa-external-link"></i></a>
                  <a aria-label="Visit the GitHub repo for  project" href="https://github.com/varadbhogayata/music-player"
                    target="_blank" data-position="top" data-tooltip="View Source"
                    class="btn-floating btn-large waves-effect waves-light blue-grey tooltipped"><i
                      class="fa fa-github"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col s12 m6 l4">
            <div class="card medium">
              <div class="card-image waves-effect waves-block waves-light">
                <img alt="quiz app" src="~/img/project-quizup-logo-1.png" style="height: 100%; width: 100%" class="activator" />
              </div>
              <div class="card-content">
                <span class="card-title activator teal-text hoverline">Quiz Web-App<i
                    class="mdi-navigation-more-vert right" onclick="flip_card('second','flip_second')"></i></span>
                <p>
                  A quiz playing web app based on Django
                </p>
              </div>
              <div class="card-reveal second">
                <!-- TODO: change this -- only close button -->
                <!-- <span class="card-title brown-text">Accomplishments<i class="mdi-navigation-close right"></i></span> -->
                <span class="card-title grey-text"><small>Accomplishments</small><i
                    class="mdi-navigation-close right" onclick="flip_card('second','close_second')"></i></span>
                <ul>
                  <li><b>Tools:</b> Django, HTML, CSS, Bootstrap, SQLite, Heroku</li>
                  <li>Register/login to the web app(with OAuth-based Google Sign-In).</li>
                  <li>Play Quiz and see the leaderboard</li>

                </ul>
                <div class="card-action">
                  <a aria-label="Visit " href="https://quiz-up-app.herokuapp.com/" target="_blank" data-position="top"
                    data-tooltip="View Online"
                    class="btn-floating btn-large waves-effect waves-light blue-grey tooltipped"><i
                      class="fa fa-external-link"></i></a>
                  <a aria-label="Visit the GitHub repo for  project" href="https://github.com/varadbhogayata/QuizUp"
                    target="_blank" data-position="top" data-tooltip="View Source"
                    class="btn-floating btn-large waves-effect waves-light blue-grey tooltipped"><i
                      class="fa fa-github"></i></a>
                </div>
              </div>
            </div>
          </div>

          <!-- 1. Django Project -->
          <!-- <div class="col s12 m6 l6">
            <div class="card medium">
              <div class="card-image waves-effect waves-block waves-light">
                <img alt="django web app" src="/assets/img/project-library-logo.png" style="height: 100%; width: 100%" class="activator" />
              </div>
              <div class="card-content">
                <span class="card-title activator teal-text hoverline">Local Library Web-App<i
                    class="mdi-navigation-more-vert right"></i></span>
                <p>
                  A web-app that creates an online catalog for a small local library, where users can browse available books and manage their accounts.
                </p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text"><small>Accomplishments</small><i
                    class="mdi-navigation-close right"></i></span>
                <ul>
                  <li><b>Tools:</b> HTML, CSS, Bootstrap, SQLite, Django, Heroku</li>
                  <li>Users can view list and detail information for books and authors.</li>
                  <li>Admin users can create and manage models.</li>
                  <li>Librarians can renew reserved books.</li>

                </ul>
                <div class="card-action">
                  <a aria-label="Visit " href="https://django-local-lib.herokuapp.com" target="_blank" data-position="top"
                    data-tooltip="View Online"
                    class="btn-floating btn-large waves-effect waves-light blue-grey tooltipped"><i
                      class="fa fa-external-link"></i></a>
                  <a aria-label="Visit the GitHub repo for  project" href="https://github.com/varadbhogayata/django-local-library"
                    target="_blank" data-position="top" data-tooltip="View Source"
                    class="btn-floating btn-large waves-effect waves-light blue-grey tooltipped"><i
                      class="fa fa-github"></i></a>
                </div>
              </div>
            </div>
          </div> -->

          <!-- Flask Project -->
          <div class="col s12 m6 l4">
            <div class="card medium">
              <div class="card-image waves-effect waves-block waves-light">
                <img alt="Screenshot of web app" src="~/img/project-blog-logo.jpg"
                style="height: 100%; width: 100%" class="activator" />
              </div>
              <div class="card-content">
                <span class="card-title activator teal-text hoverline">Blog Web-App<i
                    class="mdi-navigation-more-vert right" 
                    onclick="flip_card('third','flip_third')"></i></span>
                <p>
                  A simple and extensible blog web-app based on Flask.
                </p>
              </div>
              <div class="card-reveal third">
                <!-- TODO: change this -- only close button -->
                <!-- <span class="card-title brown-text">Accomplishments<i class="mdi-navigation-close right"></i></span> -->
                <span class="card-title teal-text"><small>Accomplishments</small><i
                    class="mdi-navigation-close right" onclick="flip_card('third','close_third')"></i></span>
                <ul>
                  <li><b>Tools:</b> HTML, CSS, Bootstrap, Flask, SQLAlchemy, Postgresql, Python</li>
                  <li>Users can view posts and contact the admin via Contact Page.</li>
                  <li>Admin can Add, Delete, Update posts.</li>


                </ul>
                <div class="card-action">
                  <a aria-label="Visit Blog website" href="https://flask-heroku-blog.herokuapp.com/" target="_blank" data-position="top"
                    data-tooltip="View Online"
                    class="btn-floating btn-large waves-effect waves-light blue-grey tooltipped"><i
                      class="fa fa-external-link"></i></a>
                  <a aria-label="Visit the GitHub repo for  project" href="https://github.com/varadbhogayata/flask-blog"
                    target="_blank" data-position="top" data-tooltip="View Source"
                    class="btn-floating btn-large waves-effect waves-light blue-grey tooltipped"><i
                      class="fa fa-github"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!-- Head Counting System -->
          <div class="col s12 m6 l4">
            <div class="card medium">
              <div class="card-image waves-effect waves-block waves-light">
                <img alt="Screenshot of  web app" src="~/img/Blog-Images-Forget-Machine-Learning-Humans-Still-Have-a-Lot-to-Learn-Part-II.jpg" style="height: 100%; width: 100%" class="activator" />
              </div>
              <div class="card-content">
                <span class="card-title activator teal-text hoverline">Head Counting System<i
                    class="mdi-navigation-more-vert right"></i></span>
                <p>
                  A system that calculates the attendance of the class from a panoramic image of a live classroom.
                </p>
              </div>
              <div class="card-reveal">
                <!-- TODO: change this -- only close button -->
                <!-- <span class="card-title brown-text">Accomplishments<i class="mdi-navigation-close right"></i></span> -->
                <span class="card-title brown-text"><small>Accomplishments</small><i
                    class="mdi-navigation-close right"></i></span>
                <ul>
                  <li>Used Singular Value Decomposition for image compression; applied various image processing
                    techniques and morphological operations to
                    detect the number of heads.</li>

                </ul>
                <div class="card-action">
                  <a aria-label="Visit the GitHub repo for  project"
                    href="https://github.com/varadbhogayata/visual-question-answering" target="_blank"
                    data-position="top" data-tooltip="View Source"
                    class="btn-floating btn-large waves-effect waves-light blue-grey tooltipped"><i
                      class="fa fa-github"></i></a>
                </div>
              </div>
            </div>
          </div>

          <!-- ************* -->
        </div>
      </div>
    </section>

    <!-- Fifth Section: Skills -->
    <section id="skills" class="section scrollspy">
      <h3 class="page-title white-text teal">Skills</h3>
      <div class="container">
        <!-- Languages and Databases -->
        <div class="card">
          <div class="card-content">
            <h4 class="brown-text light">Languages and Databases</h4>
            <div class="row text-center">
              <div class="col s4 m2">
                <img alt="" src="~/img/python-logo-1-300x300.jpg" class="responsive-img" />Python
              </div>
              <div class="col s4 m2">
                <img alt="" src="~/img/html5-300x300.jpg" class="responsive-img" />HTML5
              </div>
              <div class="col s4 m2">
                <img alt="" src="~/img/css3-300x300.jpg" class="responsive-img" />CSS3
              </div>
              <div class="col s4 m2">
                <img alt="" src="~/img/mysql-logo-1-300x300.jpg" class="responsive-img" />MySQL
              </div>
              <div class="col s4 m2">
                <img alt="" src="~/img/postgresql-logo.png" class="responsive-img" />PostgreSQL
              </div>
              <div class="col s4 m2">
                <img alt="" src="~/img/shell-logo-1-300x300.jpg" class="responsive-img" />Shell Scripting
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-content">
            <h4 class="brown-text light">Libraries</h4>
            <div class="row text-center">
              <div class="col s4 m2">
                <img alt="" src="~/img/numpy-logo-1-500x500.jpg" class="responsive-img" />NumPy
              </div>
              <div class="col s4 m2">
                <img alt="" src="~/img/pandas-logo-2-500x500.jpg" class="responsive-img" />Pandas
              </div>
              <div class="col s4 m2">
                <img alt="" src="~/img/opencv-logo-1-500x500.jpg" class="responsive-img" />OpenCV
              </div>
              <div class="col s4 m2">
                <img alt="" src="~/img/sk-learn-logo-1-500x500.jpg" class="responsive-img" />scikit-learn
              </div>
              <div class="col s4 m2">
                <img alt="" src="~/img/matplotlib-logo-1-500x500.jpg" class="responsive-img" />matplotlib
              </div>
            </div>
          </div>
        </div>

        <!-- Frameworks -->
        <div class="card">
          <div class="card-content">
            <h4 class="brown-text light">Frameworks</h4>
            <div class="row text-center">
              <div class="col s4 m2">
                <img alt="" src="~/img/django-logo.webp" class="responsive-img" />Django
              </div>
              <div class="col s4 m2">
                <img alt="" src="~/img/flask-logo.png" class="responsive-img" />Flask
              </div>
              <div class="col s4 m2">
                <img alt="" src="~/img/bootstrap.png" class="responsive-img" />Bootstrap
              </div>
              <div class="col s4 m2">
                <img alt="" src="~/img/keras-logo.png" class="responsive-img" />Keras
              </div>
              <div class="col s4 m2">
                <img alt="" src="~/img/tensorflow-logo-1.png" class="responsive-img" />TensorFlow
              </div>
              <div class="col s4 m2">
                <img alt="" src="~/img/pytorch-logo.png" class="responsive-img" />PyTorch
              </div>
            </div>
          </div>
        </div>

        <!-- Other -->
        <div class="card">
          <div class="card-content">
            <h4 class="brown-text light">Other</h4>
            <div class="row text-center">


              <div class="col s4 m2">
                <img alt="" src="~/img/git.png" class="responsive-img" />Git
              </div>
              <div class="col s4 m2">
                <img alt="" src="~/img/aws.png" class="responsive-img" />AWS
              </div>
              <div class="col s4 m2">
                <img alt="" src="~/img/heroku.png" class="responsive-img" />Heroku
              </div>
            </div>
          </div>
        </div>

        <!-- certifications -->
        <!-- <div class="card">
          <div class="card-content">
            <h4 class="brown-text light">Certificates</h4>
            <div class="row text-left">
              <div class="container">
                <div class="row">
                  <div class="col s12 m6 l6">
                    <div class="card">
                      <div class="card-image">
                        <img src="/assets/img/mooc-machine-learning-coursera-800x500.jpg">
                      </div>
                      <div class="card-content">
                        <span class="card-title teal-text">Machine Learning (Stanford)</span>
                      </div>
                    </div>
                  </div>

                  <div class="col s12 m6 l6">
                    <div class="card">
                      <div class="card-image">
                        <img src="/assets/img/mooc-algorithms-stanford-2-800x500.jpg">
                      </div>
                      <div class="card-content">
                        <span class="card-title teal-text">Algorithms (Stanford)</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->

      </div>
    </section>

    <!-- Seventh Section: Education -->
    <section id="education" class="section scrollspy">
      <h3 class="page-title white-text teal">Education</h3>
      <div class="container">
        <div class="row">
          <!-- Education -->
          <div class="col s12 m6 l6">
            <div class="card">
              <div class="card-content">
                <p>
                  <span class="card-title"><a href="https://www.ogu.edu.tr/" target="_blank" class="teal-text hoverline">Eskisehir Osmangazi University</a></span>
                </p>
                <p class="brown-text">Eskisehir, TR</p>
                <p>
                  <b>Degree: </b>Bachelor in Computer Engineering      
                </p>

                <ul>
                  <p>
                    <b>Relevant Courseworks:</b>
                  <ul>
                    <li>Operating Systems</li>
                    <li>Database Management Systems</li>
                    <li>Data Structures</li> 
                    <li>Object Oriented Programming</li>
                    <li>Algorithms and Complexity</li> 
                    <li>Introduction to Programming</li>
                    <li>Engineering Graphics</li>
                    <li>Software Engineering</li>                         
                  </ul>
                  </p>

                </ul>
              </div>
            </div>


          </div>
        </div>
      </div>
    </section>

    <!-- Eight Section: Contact -->
    <section id="contact" class="section scrollspy full-height">
      <h3 class="page-title white-text teal">Contact</h3>
      <div class="container contact">
        <div class="contact-info">
          <p>
          <a aria-label="Call Varad" data-position="top" data-tooltip="Call Varad"
            class="btn-floating btn-large waves-effect waves-light blue-grey tooltipped"><i class="fa fa-phone"></i><a
              aria-label="Call Varad">+905425480182</a></a>
        </p>
        <p>
          <a aria-label="Email Varad" href="mailto:vbhogayata@gmail.com" target="_blank" data-position="top"
            data-tooltip="Email Varad" class="btn-floating btn-large waves-effect waves-light blue-grey tooltipped"><i
              class="fa fa-envelope"></i><a aria-label="Email Varad" href="mailto:vbhogayata@gmail.com"
              class="hoverline">mithat4226@gmail.com</a></a>
        </p>
        <p>
          <a aria-label="View Varad on GitHub" href="http://github.com/varadbhogayata" target="_blank"
            data-position="top" data-tooltip="View Varad on GitHub"
            class="btn-floating btn-large waves-effect waves-light blue-grey tooltipped"><i class="fa fa-github"></i><a
              aria-label="Varad on Github" href="http://github.com/varadbhogayata" class="hoverline"
              target="_blank">github.com/ObjectOrientedMindset</a></a>
        </p>
        <p>
          <a aria-label="View Varad on LinkedIn" href="http://linkedin.com/in/mithatuçar" target="_blank"
            data-position="top" data-tooltip="View Mithat on LinkedIn"
            class="btn-floating btn-large waves-effect waves-light blue-grey tooltipped"><i
            class="fa fa-linkedin"></i><a aria-label="Varad on LinkedIn" href="http://linkedin.com/in/mithatuçar"
            class="hoverline" target="_blank">linkedin.com/in/mithatuçar</a></a>
        </p>
        </div>
        <form class="card contact-container" method="POST" action="/Home/SendMessage">
        <h4><span>Welcome! </span>Leave a Message</h4>
        <input placeholder="Name" type="text" name="name" id="name" autocomplete="off"></input>
        <input placeholder="Email" type="text" name="email" id="email" autocomplete="off"></input>
        <textarea id="text_area" class="text-box" name="message" style="resize:none; background-color:white;"></textarea>
        <button class="msg-btn hoverline" type="submit">Send</button>
        </form> 
    </section>
  </main>
</div>

